.rainbow-color-picker-panel {
  box-sizing: border-box;
  padding: 0.75rem;
}

.rainbow-color-picker-panel > * {
  width: 100%;
  box-sizing: border-box;
}

.rainbow-color-picker-panel > *:not(:first-child) {
  margin-top: 0.75rem;
}
